{% extends "base.html.twig" %}

 {% block body %}
    <body>

    {% if err_msg is defined %}
        {{ err_msg }}
        <br><br>
        {% endif %}

        <form action={{ path('contact_controller_add')}} method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="fname" value={{name}}><br>

            <label for="desc">Description:</label><br>
            <input type="text" id="desc" name="desc" value={{description}}><br><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value={{email}}><br><br>

            <input type="submit" value="Submit">
        </form>
     
    </body>
{% endblock %}